.postcard{
    display: flex;
    flex-direction: column;
   
}
.postcard .header{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}
.postcard .header  span  { 
    display: flex;
    align-items: center;
    
   }
.postcard .header  span .perfil { 
    display: flex;
    width: 60px;
    border-radius: 50px;
    margin: 10px;
   }
   .postcard .header  span .fa-solid { 
    display: flex;
    margin: 10px;
   }
.postcard .contenido{
    width: 100%;
}
.postcard .contenido .grace-study{
    margin: 20px;
    height: 600px;
    width: 100%;
    object-fit: cover; 
    object-position: top;
    max-height: auto;
}
p{
 margin: 20px;
}
body{
    margin-top: 0;
    width: 100%;
    background: #FAFAFA;
    position: relative;
    font-family: 'roboto', sans-serif;
}
.postcard .contenido-post {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.postcard  .contenido-post .reaction-wrapper{
    width: 100%;
    /* display: flex; */
    margin: 5px 20px;
 /*    align-items: center; */
    /* background-color: #ccc ;*/
   /*  flex-direction: row; */
   box-sizing: border-box;

}
.postcard .contenido-post .reaction-wrapper .fa-regular {
    margin: 0 3px;
    float: left;
}
.postcard  .contenido-post .reaction-wrapper .fa-bookmark {
    float: right;
    margin-right: 20px;
}